---
title: History
pagetype: history
---


%table{:id => "history"}
  %tr
    %td 24 Apr, 2012
    %td 
      Launched
      %a{:href => "http://cnu.name"} cnu.name
  %tr
    %td 16 Jan, 2012
    %td 
      Moved to Santiago for
      %a{:href => "http://startupchile.org"} StartUp Chile
  %tr
    %td 1 Jan, 2012
    %td 
      Started my dream startup
      %a{:href => "http://cruns.com"} cruns
  %tr
    %td 12 Sep, 2010
    %td Married Suganya
  %tr
    %td 18 Jul, 2008
    %td 
      Started 
      %a{:href => "http://blogial.com"} Blogial network
  %tr
    %td 27 Jun, 2007
    %td Started working in Serendio
  %tr
    %td May, 2007
    %td Finished Bachelor of Engineering
  %tr
    %td 24 Apr, 2006
    %td Launch of cruns (just bought the domain name)
  %tr
    %td 3 Aug, 2003
    %td Joined Bachelor of Engineering, Computer Science
  %tr
    %td May, 2003
    %td Completed School
  %tr
    %td 1994
    %td Moved to Chennai
  %tr
    %td 1992
    %td Moved to Coimbatore
  %tr
    %td 24 Apr, 1986
    %td Was Born

.disqus
  :plain
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'cnu'; // required: replace example with your forum shortname
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
