@import url(http://fonts.googleapis.com/css?family=Tulpen+One);

body {
  font-family: "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
  color: #111111;
}

header#masthead {
  margin-bottom: 1.5em;
  overflow: visible;
  white-space: nowrap;
}

header#masthead h1 {
  margin-top: 0.5em;
  margin-bottom: 0;
  letter-spacing: -3px;
  font-size: 4em;
  font-weight: normal;
  display: inline;
  line-height: 1.5em;
}

header#masthead span.pagetype {
  color: #666666;
  text-transform: lowercase;
}

header#masthead h1 {
	font-family: "PT Sans", "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
}

header#masthead span.page-title {
  color: #666666;
  text-transform: lowercase;
}

h1 a {
	text-decoration: none;
}
nav ul li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
}

nav ul li:last-child { 
	border-bottom: none; 
}

nav a {
  border: none;
  font-style: normal;
  color: #111111;
}

nav a:hover {
  color: #ec5519;
  text-decoration: none;
}