@import url(http://fonts.googleapis.com/css?family=Tulpen+One);

/* Color variables */
@6grey: #666;
@9grey: #999;
@hover-color: #BB2B3D;
@lightblack: #111;
@lightgrey: #eee;
@visit-color: #555;

body {
  font-family: "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 18px;
  line-height:1.6;
}

span.hide {
  display:none;
}

span.email-rtl {
  unicode-bidi: bidi-override;
  direction: rtl;
}

header#masthead {
  margin-bottom: 1.5em;
  overflow: visible;
  white-space: nowrap;

  h1 {
      margin-top: 0.5em;
      margin-bottom: 0;
      letter-spacing: -3px;
      font-size: 4em;
      font-weight: normal;
      display: inline;
      line-height: 1.5em;
      font-family: "PT Sans", "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
      a {
        color: black;
        text-decoration: none;
        &:hover { 
          color: @hover-color; 
        }
      }
    }
    span.pagetype {
      color: @9grey;
      text-transform: lowercase;
    }
}

.ul-li-menu(@color) {
    list-style: none;
    border-bottom: 1px solid @color;
    padding:10px;
    margin:0;
    &:last-child { 
      border-bottom: none; 
    }
}

nav {
  width: 10em;
  font-size: 2em;
  font-weight: bold;
  line-height: 4em;
  font-family: "PT Sans", "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;

  ul li {
    .ul-li-menu(@lightgrey);
  }

  a {
    border: none;
    font-style: normal;
    color: @lightblack;
    text-decoration:none;
    &:hover {
      color: @hover-color;
    }
  }
}

.splash-info {
  text-align:right;
  font-size: 2em;
  font-style:oblique;
  line-height: 4em;
  color: @9grey;
  font-family: "PT Sans", "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;

  ul li {
    .ul-li-menu(white);
  }
}

/* Hide the splash screen if device is a phone */
@media screen and (max-width: 767px) {
  .splash-info {
    display:none;
  }
}

.heading {
  font-family: "PT Sans", "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
  font-weight:bold;
}

#content {

  a {
    &:hover {
      text-decoration: none;
      background-color: @lightgrey;
    }
    
    &:visited {
      color: @visit-color;
      border-bottom: 1px solid @visit-color;
    }
  }

  h2 {
    .heading;
    font-size:1.8em;    
    margin-bottom:0;
    color: @lightblack;
    a {
      color: black;
      text-decoration:none;
      &:visited {
        color:black;
      }
      &:hover {
        background-color:white;
        color: @hover-color;
      }
    }
  }
}

.post {
  margin-bottom: 10px;
  margin-top:5px;
  padding-bottom: 5px;
  border-bottom: 1px @lightgrey solid;

  h2 {
    .heading;
    font-size:1.8em;    
    margin-bottom:0;
    color: @lightblack;
    a {
      color: black;
      text-decoration:none;
      &:hover {
        color: @hover-color;
      }
    }
  }
  
  aside {
    font-size:0.8em;
    color: grey;
  }
  
  article {
    p {
      margin-bottom:1.5em;
      margin-top: 1.5em;
    }
    .read-more {
      text-align:right;
    }
  }
}

#history{
  width:100%;
  tr {
    border-bottom: 1px @lightgrey solid;
    
    td:first-child {
      text-align:right;
      padding-right:20px;
      color:grey;
      &:after {
        content:" »";
      }
    }

    td:last-child {
      text-align:left;
      padding-left:10px;
    }
  }
}
